html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #f2f2f2 0%, #bfbfbf 100%);
}
.pageBlurb {
    border-left: 1px solid black;
    display: flex;
    justify-content: flex-start;
    margin-top: 13.5%;
    padding: 2% !important;
    text-align: center;
    font-size: 1.2rem;
    flex-direction: column;
}
.pageBlurb > p:nth-child(1) {
    font-weight: 800;
    font-size: 1.5rem;
}
.formOuterContainer {
    border-left: 1px solid black;
    padding-top: 12% !important;
    display: flex;
    flex-direction: column;
}
.formStyling {
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 12%;
    padding: 10px;
}
.labelStyling {
    font-size: 1.1rem;
}
.formSubmitBtn {
    background-color: #FFF !important;
    width: 75%;
}
.addVehicleFormSubmitBtn {
    background-color: #FFF !important;
    width: 100px;
    margin-top: 24px !important;
}
.linkTo {
    color: '#000';
    font-size: 1.1rem;
    background-color: #FFF !important
}
.tips {
    display: flex;
    justify-content: flex-start;
    margin-top: 15.5%;
    padding: 0 2%;
    font-size: 1.1rem;
    flex-direction: column;
}
.loadingIcon {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.loadingIcon > i {
    padding: 20px 0;
    font-size: 50px;
}
.noUserError {
    display: flex;
    justify-content: flex-start;
    margin-top: 50%;
    font-size: 1.7rem;
    padding-left: 2%;
}
.vehicleTable > tr > td {
    padding: 2px 11px;
}
.addVehicleContainer {
    border-top: 1px solid black;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center;
}
.expenseLeftCol {
    margin-top: 5%;
    padding-left: 5% !important;
}
.expenseTable {
    border: 1px solid black !important;
}
.tableBtn {
    padding: 5px 11px !important;
}